<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{cities.page.title}">Список городов</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/delete.js}"></script>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <span th:text="#{user.auth}">Username:</span> <span sec:authentication="name"> User</span></div>
<p><strong th:text="#{cities.page.title}">Список городов</strong></p>

<div id="navigation">
    <a th:if="${cities.hasPrevious}" th:href="@{/cities(page=${cities.currentPage-1})}" href="cities.html"><img
            alt="Previous page" th:src="@{/images/previous.png}"/></a>
    <p th:text="#{currentPage}">Current page</p> <span th:text="${cities.currentPage + 1}">0</span> of <span th:text="${cities.totalPages}">2</span>
    <a th:if="${cities.hasNext}" th:href="@{/cities(page=${cities.currentPage + 1})}" href="cities.html"><img
            alt="Next page" th:src="@{/images/next.png}"/></a>
</div>
<table class="cities">
    <thead>
    <tr>
        <th th:text="#{cities.page.id}">Id</th>
        <th th:text="#{cities.page.code}">Код</th>
        <th th:text="#{cities.page.rusName}">Название на русском языке</th>
        <th th:text="#{cities.page.engName}">Название на английском языке</th>
        <th th:text="#{cities.page.population}">Численность населения</th>
        <th th:text="#{cities.page.actions}">Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="city: ${cities.cityDtoList}">
        <td th:text="${city.id}">id</td>
        <td th:text="${city.code}">код</td>
        <td th:text="${city.rusName}">Название на русском языке</td>
        <td th:text="${city.engName}">Название на английском языке</td>
        <td th:text="${city.population}">Численность населения</td>
        <td>
            <a th:href="@{'/city/edit/' + ${city.id}}" href="city.html"><img alt="Edit"
                                                                             th:src="@{/images/edit.png}"/></a>
            <a id="delete-handler" th:id="'del'+${city.id}" th:name="${city.id}" href="cities.html"><img
                    alt="Delete" th:src="@{/images/delete.png}"/></a>
        </td>
    </tr>
    </tbody>
</table>
<div id="toolbar">
    <a th:href="@{/cities}" href="../citylist/cities.html"><img alt="Back" th:src="@{/images/back.png}"/></a>
    <a th:href="@{/city/add}" href="city.html"><img alt="Add" th:src="@{/images/add.png}"/></a>
</div>
<a th:href="@{${currentUrl}(lang=en)}" th:text="#{en}">en</a>
<a th:href="@{${currentUrl}(lang=ru)}" th:text="#{ru}">ru</a>
</body>
</html>
