<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${city.id == 0}? #{addCity} : #{editCity}">Add/edit city</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div sec:authorize="isAuthenticated()">
<span th:text="#{user.auth}">Username:</span> <span sec:authentication="name"> User</span></div>
<form id="add-form" sec:authorize="hasRole('ADMIN')" th:action="@{/city/save}" th:if="${city.id == 0}" method="post" action="city.html"
      th:object="${city}">
    <p><strong th:text="#{addCity}">Add city</strong></p>

    <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input th:field="*{id}" placeholder="id (*)" class="form-control" hidden/>
    </div>

    <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input th:field="*{code}" th:placeholder="#{cities.page.code}" class="form-control"/>
    </div>

    <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input th:field="*{rusName}" th:placeholder="#{cities.page.rusName}" class="form-control"/>
    </div>

    <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input th:field="*{engName}" th:placeholder="#{cities.page.engName}" class="form-control"/>
    </div>

    <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <label for="population" th:text="#{cities.page.population}">Population:</label>
        <input th:field="*{population}" placeholder="population (*)" class="form-control"/>
    </div>

    <div class="row">
        <a th:href="@{/cities}" href="cities.html"><img alt="Back" th:src="@{/images/back.png}"/></a>
        <button type="submit"><img alt="Save" th:src="@{/images/save.png}"/></button>
    </div>
</form>
<form id="edit-form" sec:authorize="hasRole('ADMIN')" th:action="@{/city/save(id=${city.id})}" th:unless="${city.id == 0}" method="post"
      action="city.html" th:object="${city}">
    <p><strong th:text="#{editCity}">Edit city</strong></p>

    <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input th:field="*{id}" placeholder="id (*)" class="form-control" hidden/>
    </div>

    <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input th:field="*{code}" th:placeholder="#{cities.page.code}" class="form-control"/>
    </div>

    <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input th:field="*{rusName}" th:placeholder="#{cities.page.rusName}" class="form-control"/>
    </div>

    <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input th:field="*{engName}" th:placeholder="#{cities.page.engName}" class="form-control"/>
    </div>

    <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <label for="population" th:text="#{cities.page.population}">Population:</label>
        <input th:field="*{population}" id="population" class="form-control"/>
    </div>

    <div class="row">
        <a th:href="@{/cities}" href="cities.html"><img alt="Back" th:src="@{/images/back.png}"/></a>
        <button type="submit"><img alt="Save" th:src="@{/images/save.png}"/></button>
    </div>
</form>
<div th:with="currentUrl=(${@currentUrlWithoutParam.apply('lang')})">
    <a th:href="@{${currentUrl}(lang=en)}" th:text="#{en}">en</a>
    <a th:href="@{${currentUrl}(lang=ru)}" th:text="#{ru}">ru</a>
</div>
</body>
</html>