<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{loadingwindows.page.title}">Список грузовых позиций</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/table.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}" src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(function () {
            fillData();
        });

        function fillData() {
            var dtToday = new Date();
            var month = dtToday.getMonth() + 1;
            var year = dtToday.getFullYear();
            if (month < 10)
                month = '0' + month.toString();
            var yearMonth = year + '-' + month;
            $.get('http://localhost:8699/api/loadingwindows', {yearMonth: yearMonth}, function (result) {
                    let rowsData = '';
                    for (let i = 0; i < result.length; i++) {
                        let loadingWindow = result[i];
                        var actionButton = '';
                        actionButton =
                            '<td>' +
                            '<a href="/loadwindows/edit/' + loadingWindow.id + '"><img title="Edit" src="/images/edit.png"/></a>' +
                            '<a href="/loadwindows/operate/' + loadingWindow.id + '"><img title="Operate" src="/images/operate.png"/></a>' +
                            '<a data-id="loadingWindow_' + loadingWindow.id + '" href="loadingwindows.html"><img title="Delete" src="/images/delete.png"/></a>' +
                            '</td>';
                        rowsData += '<tr>' + actionButton + '<td>' + loadingWindow.id + '</td>' +
                            '<td>' + loadingWindow.cargo.type + '</td>' + '<td>' + loadingWindow.type + '</td>'
                            + '<td>' + loadingWindow.positionNumber + ' ' + loadingWindow.positionPostfix + '</td>' +
                            '<td>' + loadingWindow.status + '</td>' + '<td>' + loadingWindow.initDateString +
                            '</td>' + '<td>' + loadingWindow.loadDateString + '</td>' + '<td>' + loadingWindow.shipper.name + '</td>'

                            + '<td>' + '<table id="vslToClear">';
                        for (let j = 0; j < loadingWindow.vesselToClearList.length; j++) {
                            let vsl = loadingWindow.vesselToClearList[j];
                            rowsData += '<td>' + '<a href="/vesseltoclear/operate/' + vsl.id + '" class="vsl_button">' + vsl.vesselWrapper.name + '</a>' + '</td>'
                                + '<td>' + vsl.vettingPart + '</td>' + '<td>' + vsl.vettingStatus + '</td>' + '<td>' + vsl.status + '<td>' + vsl.technicalPart + '</td>' +
                                '<td>' + vsl.accepted + '</td>' + '<tr>';
                        }
                        rowsData += '</table>';
                    }
                    let loadingWindowDataElement = $('#loadingWindowData');
                    loadingWindowDataElement.html(rowsData);

                    $('a[data-id^=loadingWindow_]').one('click', function (event) {
                        if (confirm('Are you sure to delete this loading window?')) {
                            let loadingWindowId = $(this).attr('data-id').replace('loadingWindow_', '');
                            $.ajax({
                                url: '/api/loadingwindows/' + loadingWindowId,
                                type: 'DELETE',
                                success: function () {
                                    location.href = '/loadwindows';
                                },
                            });
                        }
                        event.preventDefault();
                    });
                }
            );
        }
    </script>
</head>
<body>

<p><strong th:text="#{loadingwindows.page.title}">Список грузовых позиций</strong></p>

<div id="navigation"></div>
<table class="loadingWindows">
    <thead>
    <tr>
        <th th:text="#{loadingwindows.page.actions}">Действия</th>
        <th th:text="#{loadingwindows.page.id}">Id</th>
        <th th:text="#{loadingwindows.page.cargo}">Груз</th>
        <th th:text="#{loadingwindows.page.type}">Тип позиции</th>
        <th th:text="#{loadingwindows.page.positionNumber}">Номер позиции</th>
        <th th:text="#{loadingwindows.page.status}">Статус позиции</th>
        <th th:text="#{loadingwindows.page.initDate}">Дата подачи</th>
        <th th:text="#{loadingwindows.page.loadDate}">Дата отгрузки</th>
        <th th:text="#{loadingwindows.page.shipper}">Грузоотправитель</th>
        <th th:text="#{loadingwindows.page.ships}">Суда</th>
    </tr>
    </thead>

    <tbody id="loadingWindowData"/>
</table>
<div id="toolbar">
    <a th:href="@{/}" href="../index.html"><img title="Back" th:src="@{/images/back.png}"/></a>
    <a th:href="@{/loadwindows/add}" href="loadingwindow.html"><img title="Add" th:src="@{/images/add.png}"/></a>
</div>

<a th:href="@{${currentUrl}(lang=en)}" th:text="#{en}">en</a>
<a th:href="@{${currentUrl}(lang=ru)}" th:text="#{ru}">ru</a>
</body>
</html>
